<!DOCTYPE html>
<html lang="en">

<head>

        {% block page_title %}
        <title>Base Template</title>
        {% endblock %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    </head>

    <body>

        <nav class="navbar sticky-top navbar-expand-md navbar-light bg-secondary">
            <div class="container-fluid">

                <a class="navbar-brand" href="{% url 'landing-page' %}">Smart Electronics</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="d-flex align-items-sm-end">
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">

                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'list-device' %}">Products</a>
                            </li>

                            {% if user.is_authenticated %}
                                {% if user_profile.is_seller %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'add-device' %}">Add Devices</a>
                                </li>

                                <li>
                                    <a class="nav-link" href="{% url 'added-device' %}">View Added Devices</a>
                                </li>

                                {% else %}
                                <li class="nav-item">
                                    {% if user_profile.get_unread_notifications_count %}
                                    <a class="nav-link"
                                        href="{% url 'display-notification' %}">Notifications({{ user_profile.get_unread_notifications_count }})</a>
                                    {% else %}
                                    <a class="nav-link" href="{% url 'display-notification' %}">Notifications</a>
                                    {% endif %}
                                </li>
                                {% endif %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'user-profile' %}">
                                <img src="{{ user_profile.avatar.url }}" class="rounded img-fluid"
                                    style="width: 2rem;height: 2rem;">
                                </a>
                            </li>

                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Register</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'login' %}">Sign In</a>
                            </li>
                            {% endif %}
                        </ul>

                    </div>
                </div>

            </div>
        </nav>

        <!-- Page Header-->
        {% block page_header %}{% endblock page_header %}
        <div>
            {% block page_content %}{% endblock %}
        </div>
        {% block page_footer %}
        {% endblock page_footer %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    </body>
</html>